<html>

<head>
    <title></title>
    <style>
            @media only screen and (min-width: 768px)
    {
        
        #loa img
    {
       width: 350px;
       height: 350px;
       margin: 175px 0px 0px 550px;
    }
    
    body{
    background-color: #631313;
    width: auto;
    }
    .abc
    {
    background-image: url(https://drive.google.com/uc?id=1Wgb8Uk3ukbBw_YgE9D_KM6rz3Ys9HGfR);
    background-repeat: no-repeat;
    background-size: 100%;
    }
    .abc .abc1
    {
    background-color: #000000;
    height: 50px;
    width: 330px;
    border-radius: 10px;
    margin: 1.5% 0% 0% 40%;
    float: left;

    }
    .abc .abc1 a
    {
    text-decoration: none;
    font-size: 30px;
    color: white;

    }
    .abc .abc1 .abc11
    {
    float:left;
    margin: 8px 0px 0px 30px;
    }
    .abc .abc2
    {
    /* float: left; */
    width: 7%;
    margin-left: 15%;
    }
    .abc .abc3
    {
    text-decoration: none;
    position: relative;
    font-size: 30px;
    top: -40px;
    left: 2%;
    color: rgb(209, 22, 22);
    }
    a:hover
    {
    color: black;
    border-bottom: 3px solid white;
    }
    .bcd .bcd1
    {
    background-color: #000000;
    height: 50px;
    width: 580px;
    margin: 20px 0px 0px 20px;

    }
    .bcd .bcd1 .bcd11
    {
    float: left;
    font-size: 25px;
    margin: 8px 0px 0px 20px;
    cursor: pointer;
    }
    .bcd .bcd1 .bcd11 a
    {
    text-decoration: none;
    color: #ffffff;
    }
    .bcd .bcd1 .bcd11 a:hover
    {
    border-bottom: 3px solid white;
    color: #ffffff;
    }
    .bcd2
    {
    background-color: black;
    width: 550px;
    height: 50px;
    position: relative;
    top: -50px;
    left: 950px;
    }
    input[type="search"]
    {
    width: 93%;
    height: 28px;
    margin: 10px 0px 0px 20px;
    padding-left: 29px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    }
    .se1
    {
    background-color: #dfd2d2;
    width: 28px;
    height:27px;
    position: relative;
    top: -87%;
    left: 3%;
    }
    .se1 #se11
    {
    color:#000000;
    font-weight: bolder;
    position: relative;
    top: 2px;
    left: 3px;
    }
    .outerpro
    {
        box-shadow: 0px 0px 10px 10px rgb(148, 148, 148);
    background-color: #ffffff;
    width: 98%;
    min-height: 1800px;
    margin: -25px 10px 0px 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    padding: 10px;
    gap: 10px;
    }
    .outerpro .p1{
        border: 2px black solid;
    }
    .outerpro .p1:hover{
        box-shadow: 0px 0px 10px 5px #000000;
    }
    .outerpro .pro1
    {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .proi11
    {
        grid-column: 1/3;
        margin: 10px 0px 10px 70px;
        width: 218px;
        height: 225px;
    }
    .outerpro .proi12
    {
        grid-column: 1/3;
        font-weight:1000;
        margin: 10px 0px 0px 5px;
    }
    .outerpro .proi13
    {
        margin: 15px 0px 0px 20px;
        font-size: 25px;
    }
    .outerpro .proi14
    {
        background-color: black;
        color: white;
        height: 40px;
        width: 100px;
        font-size:15px;
        border-radius: 10px;
        margin: 10px 0px 0px 50px;
        cursor: pointer;
    }
    .outerpro .pro2
    {

    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro3
    {
    grid-column: 3/5;
    }
    .outerpro .p2 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 250px;
    }
    .outerpro .p2 .proi31
    {
    float: left;
    margin: 30px 0px 0px 50px;
    }
    .outerpro .p2 .proi31 img
    {
    width: 180px; 
    height: 200px;
    }
    .outerpro .p2 .proi32
    {
    float: left;
    margin: 30px 0px 0px 50px;
    }
    .outerpro .p2 .proi32 img
    {
    width: 180px; 
    height: 200px;
    }
    .outerpro .p2 .proi33
    {
    display: inline-block;
    margin: 30px 0px 0px 50px;
    }
    .outerpro .p2 .proi33 img
    {
    width: 180px; 
    height: 200px;
    }
    .outerpro .p2 .proi31 a
    {
    position: relative;
    top: 30px;
    left: 50px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi31 a:hover
    {
    font-size: 20px;
    border-bottom: black 2px solid;
    }
    .outerpro .p2 .proi32 a
    {
    position: relative;
    top: 30px;
    left: 50px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi32 a:hover
    {
    font-size: 20px;
    border-bottom: black 2px solid;
    }
    .outerpro .p2 .proi33 a
    {
    position: relative;
    top: 30px;
    left: 50px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi33 a:hover
    {
    font-size: 20px;
    border-bottom: black 2px solid;
    }
    .outerpro .pro4
    {

    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro5
    {

    grid-row: 2/3;
    grid-column: 2/4;
    
    }
    .outerpro .pro6
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro7
    {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro8
    {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro9
    {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro10
    {
 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro11
    {

    grid-column: 1/3;
    }
    .outerpro .pro12
    {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro13
    {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro14
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro15
    {
 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro16
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro17
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro18
    {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro19
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro20
    {
 
    grid-column: 3/5;
    }
    .outerpro .pro21
    {
   
    grid-column: 1/3;
    }
    .outerpro .pro22
    {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro23
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro24
    {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }


    .outerpro .pro25
    {
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }


    .outerpro .pro26
    {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro27
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
 
    .outerpro .pro28
    {
    background-color: rgba(250, 250, 250, 0.692);
    grid-column: 1/5;
    }
    .outerpro .pro28 .proi31
    {
    float: left;
    background-color: blue;
    height: 100%;
    width: 50px;
    cursor: pointer;
    }
    .outerpro .pro28 .proi31 i
    {
    margin: 160px 0px 0px 15px;
    }
    .outerpro .pro28 .proi32
    {
    float: left;
    margin: 70px 0px 0px 75px;
    }
    .outerpro .pro28 .proi32 img
    {
    width: 180px;
    height: 200px;
    }
    .outerpro .pro28 .proi32 a
    {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi32 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 20px;
    }
    .outerpro .pro28 .proi33
    {
    float: left;
    margin: 70px 0px 0px 75px;
    }
    .outerpro .pro28 .proi33 img
    {
    width: 180px;
    height: 200px;
    }
    .outerpro .pro28 .proi33 a
    {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi33 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 20px;
    }
    .outerpro .pro28 .proi34
    {
    float: left;
    margin: 70px 0px 0px 75px;
    }
    .outerpro .pro28 .proi34 img
    {
    width: 180px;
    height: 200px;
    }
    .outerpro .pro28 .proi34 a
    {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi34 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 20px;
    }
    .outerpro .pro28 .proi35
    {
    float: left;
    margin: 70px 0px 0px 75px;
    }
    .outerpro .pro28 .proi35 img
    {
    width: 180px;
    height: 200px;
    }
    .outerpro .pro28 .proi35 a
    {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi35 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 20px;
    }
    .outerpro .pro28 .proi36
    {
    float: left;
    margin: 70px 0px 0px 75px;
    }
    .outerpro .pro28 .proi36 img
    {
    width: 180px;
    height: 200px;
    }
    .outerpro .pro28 .proi36 a
    {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 50px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi36 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 20px;
    }
    .outerpro .pro28 .proi37
    {
    display: inline-block;
    background-color: blue;
    height: 100%;
    width: 50px;
    position: relative;
    left: 100px;    
    cursor: pointer;
    }
    .outerpro .pro28 .proi37 i
    {
    margin: 160px 0px 0px 15px;    
    }
    .outerpro .pro29
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro30
    {
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }
    .outerpro .pro31
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .outerpro .pro32
    {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    height:375px;
    }

    .foot .foot1
    {
    background-color: black;
    height: 50px;
    margin: 10px 0px 0px 10px;
    width: 98%;
    /* padding: 25px 0px 0px 100px; */
    }
    .foot .foot1 a
    {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 14px;
    left: 650px;
    }
    .foot .foot1 a:hover
    {
    /* border: 2px solid rgb(255, 255, 255); */
    border-bottom: 3px solid white;
    }
    .foot .foot2
    {
    background-color: black;
    color: white;
    width: 98%;
    margin: -10px 0px 0px 10px;
    height: 230px;

    }
    .foot .foot2 .foot21
    {
    float: left;
    margin: 20px 0px 0px 350px;
    }
    .foot .foot2 .foot21 .foot212
    {
    position: relative;
    top: -36px;
    left: 40px;
    }
    .foot .foot2 .foot22
    {
    float: left;
    margin: 20px 0px 0px 100px;
    }
    .foot .foot2 .foot22 .foot222
    {
    position: relative;
    top: -38px;
    left: 30px;
    }
    .foot .foot2 .foot23
    {
    padding: 18px 0px 0px 300px;
    width: 200px;
    height: 100px;
    }
    .foot .foot2 .foot24 .foot242
    {
    margin: 10px 0px 0px 600px;
    }
    .foot .foot2 .foot22 .foot232
    {
    position: relative;
    top: -35px;
    left: 43px;
    }
    .foot .foot2 .foot24
    {
    width: 200px;
    height: 200px;   
    }
    .foot .foot2 .foot24 .foot242
    {
    width: 200px;
    }
    .foot .foot2 .foot24 .foot241
    {
    width: 100px;
    position: relative;
    left: 640px;
    top: 10px;
    }
    .foot .foot3
    {
    background-color: black;
    color: white;
    margin: 10px 0px 0px 10px;
    width: 98%;
    height: 50px;

    }
    .foot .foot3 .foot31
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }    
    .foot .foot3 .foot32
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }
    .foot .foot3 .foot33
    {
    float: left;
    margin: 10px 0px 0px 100px;
    }
    .foot .foot3 .foot34
    {
    float: left;
    margin: -2px 0px 0px 100px;
    }
    .foot .foot3 .foot35
    {
    margin: 6px 0px 0px 80px;
    }
    .foot .foot3 .foot31 .foot312
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    .foot .foot3 .foot32 .foot322
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    .foot .foot3 .foot33 .foot332
    {
    position: relative;
    top: -37px;
    left: 30px;
    }
    #bcd1112
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 200px;
    height: 380px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 20px;
    }
    #bcd1112 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1112 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    #bcd1112 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1112 ul li
    {
    margin: 10px 0px 0px 5px;
    list-style-type: none;
    }
    #bcd1113
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    /* height: 490px; */
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 90px;
    }
    #bcd1113 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1113 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    #bcd1113 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1113 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
    #bcd1114
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 320px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 200px;
    }
    #bcd1114 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1114 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    #bcd1114 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1114 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
    #bcd1115
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 340px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 300px;
    }
    #bcd1115 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1115 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    #bcd1115 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1115 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }

    #bcd1116
    {
    color:rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    width: 220px;
    height: 370px;
    opacity: 0.7;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 190px;
    left: 420px;
    }
    #bcd1116 p
    {
    font-size: 25px;
    margin: 20px 0px 0px 50px;
    }
    #bcd1116 ul li a
    {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
    #bcd1116 ul li a:hover
    {
    border-bottom: 3px solid black;
    }
    #bcd1116 ul li
    {
    margin: 10px 0px 0px 2px;
    list-style-type: none;
    }
    }
    @media only screen and (max-width: 768px)
    {
        #loa img
        {
           width: 350px;
           height: 350px;
           margin: 175px 0px 0px 75px;
        }

    body{
        background-color: #631313;
        width: auto;
    }
    .abc
    {
        background-image: url(https://drive.google.com/uc?id=1Wgb8Uk3ukbBw_YgE9D_KM6rz3Ys9HGfR);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 80px;
    }
    .abc .abc1
    {
        background-color: #000000;
        height: 40px;
        width: 250px;
        border-radius: 10px;
        margin: 20px 0px 0px 40px;
        float: left;

    }
    .abc .abc1 a
    {
        text-decoration: none;
        font-size: 20;
        color: white;

    }
    .abc .abc1 .abc11
    {
        float:left;
        margin: 8px 0px 0px 30px;
    }
    .abc .abc2
    {
        /* float: left; */
        width: 40px;
        margin-left: 50px;
        margin-top: 20px;
        
    }
    .abc .abc3
    {
        text-decoration: none;
        position: relative;
        top: -13px;
        color: black;
    }
    a:hover
    {
        color: black;
        border-bottom: 3px solid white;
    }
    .bcd .bcd1
    {
        background-color: #000000;
        height: 50px;
        width: 450px;
        margin: 20px 0px 0px 10px;
        
    }
    .bcd .bcd1 .bcd11
    {
        float: left;
        font-size: 18px;
        margin: 13px 0px 0px 20px;
        cursor: pointer;
    }
    .bcd .bcd1 .bcd11 a
    {
        text-decoration: none;
        color: #ffffff;
    }
    .bcd .bcd1 .bcd11 a:hover
    {
        border-bottom: 3px solid white;
        color: #ffffff;
    }
    .bcd2
    {
        background-color: black;
        width: 450px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 40px;
        /* position: relative;
        top: -50px;
        left: 950px;*/
    }    
    input[type="search"]
    {
        width: 92%;
        height: 28px;
        margin: 10px 0px 0px 20px;
        padding-left: 29px;
        font-family: 'Alfa Slab One', cursive;
        font-size: 18px;
    }
    .se1
    {
        background-color: #dfd2d2;
        width: 28px;
        height:27px;
        position: relative;
        top: -43px;
        left: 20px;
    }
    .se1 #se11
    {
        color:#000000;
        font-weight: bolder;
        position: relative;
        top: 2px;
        left: 3px;
    }
    .outerpro
    {
        
    box-shadow: 0px 0px 10px 10px rgb(148, 148, 148);
        background-color: #ffffff;
        width: 96%;
        min-height: 1800px;
        margin: -25px 10px 0px 0px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
        gap: 10px;
    }
    .outerpro .p1{
        border: 2px black solid;
    }
    .outerpro .p1:hover{
        box-shadow: 0px 0px 10px 5px #000000;
    }
    .outerpro .pro1
    {
       
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
    .outerpro .proi11
    {
        grid-column: 1/3;
        margin: 10px 0px 0px 25px;
        width: 50px;
        height: 50px;
    }
    .outerpro .proi12
    {
        grid-column: 1/3;
        font-size: 10px;
    }
    .outerpro .proi13
    {
        font-size: 10px; 
        margin-top: 20px;
    }
    .outerpro .proi14
    {
        background-color: black;
        height: 25px;
        width: 45px;
        font-size: 6px;
        color: white;
        margin: 15px 0px 0px 3px;
        border-radius: 10px;
        cursor: pointer;
    }
    .outerpro .pro2
    {
  
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro3
    {

        /* height: 350px; */
        grid-column: 3/5;
        /* height: 150px; */
    }
    .outerpro .p2 p
    {
    font-size: 18px;
    margin: 20px 0px 0px 40px;
    }
    .outerpro .p2 .proi31
    {
    float: left;
    margin: 13px 0px 0px 25px;
    }
    .outerpro .p2 .proi31 img
    {
    width: 50px; 
    height: 50px;
    }
    .outerpro .p2 .proi32
    {
    float: left;
    margin: 13px 0px 0px 10px;
    }
    .outerpro .p2 .proi32 img
    {
    width: 50px; 
    height: 50px;
    }
    .outerpro .p2 .proi33
    {
    display: inline-block;
    margin: 13px 0px 0px 10px;
    }
    .outerpro .p2 .proi33 img
    {
    width: 50px; 
    height: 50px;
    }
    .outerpro .p2 .proi31 a
    {
    position: relative;
    top: 10px;
    left: 3px;
    text-decoration: none;
    font-size: 10px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi31 a:hover
    {
    font-size: 11px;
    border-bottom: black 2px solid;
    }
    .outerpro .p2 .proi32 a
    {
    position: relative;
    top: 10px;
    left: 3px;
    text-decoration: none;
    font-size: 10px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi32 a:hover
    {
    font-size: 11px;
    border-bottom: black 2px solid;
    }
    .outerpro .p2 .proi33 a
    {
    position: relative;
    top: 10px;
    left: 3px;
    text-decoration: none;
    font-size: 11px;
    color: black;
    transition: font-size 0.3s;
    }
    .outerpro .p2 .proi33 a:hover
    {
    font-size: 11px;
    border-bottom: black 2px solid;
    }
    .outerpro .pro4
    {
   
        /* height: 350px; */
        grid-row: 2/3;
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }

    .outerpro .pro5
    {
      
        grid-row: 2/3;
        grid-column: 2/4;
    }

    .outerpro .pro6
    {
 
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }
    .outerpro .pro7
    {
 
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }

    .outerpro .pro8
    {
      
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }

    .outerpro .pro9
    {
      
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }
    .outerpro .pro10
    {
    
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }

    .outerpro .pro11
    {

        grid-column: 1/3;
    }

    .outerpro .pro12
    {
     
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }
    .outerpro .pro13
    {
   
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
      
    }

    .outerpro .pro14
    {
        
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro15
    {
       
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro16
    {
        
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }    

    .outerpro .pro17
    {
           display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro18
    {
            display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro19
    {
           display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
    .outerpro .pro20
    {
           grid-column: 3/5;
    }
    .outerpro .pro21
    {
           grid-column: 1/3;
    }
    .outerpro .pro22
    {
           display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro23
    {
          display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro24
    {
           display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
    .outerpro .pro25
    {
            display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro26
    {
             display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro27
    {
        background-color: rgba(93, 0, 180, 0.445);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
    .outerpro .pro28
    {
        background-color: rgba(216, 216, 216, 0.692);
        grid-column: 1/5;
    }
    .outerpro .pro28 .proi31
    {
    float: left;
    background-color: blue;
    height: 100%;
    width: 30px;
    cursor: pointer;
    }
    .outerpro .pro28 .proi31 i
    {
    margin: 40px 0px 0px 8px;
    }
    .outerpro .pro28 .proi32
    {
    float: left;
    margin: 25px 0px 0px 23px;
    }
    .outerpro .pro28 .proi32 img
    {
    width: 50px;
    height: 50px;
    }
    .outerpro .pro28 .proi32 a
    {
    text-decoration: none;
    color: black;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 4px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi32 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 11px;
    }
    .outerpro .pro28 .proi33
    {
    float: left;
    margin: 25px 0px 0px 23px;
    }
    .outerpro .pro28 .proi33 img
    {
    width: 50px;
    height: 50px;
    }
    .outerpro .pro28 .proi33 a
    {
    text-decoration: none;
    color: black;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 4px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi33 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 11px;
    }
    .outerpro .pro28 .proi34
    {
    float: left;
    margin: 25px 0px 0px 23px;
    }
    .outerpro .pro28 .proi34 img
    {
    width: 50px;
    height: 50px;
    }
    .outerpro .pro28 .proi34 a
    {
    text-decoration: none;
    color: black;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 4px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi34 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 11px;
    }
    .outerpro .pro28 .proi35
    {
    float: left;
    margin: 25px 0px 0px 23px;
    }
    .outerpro .pro28 .proi35 img
    {
    width: 50px;
    height: 50px;
    }
    .outerpro .pro28 .proi35 a
    {
    text-decoration: none;
    color: black;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 4px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi35 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 11px;
    }
    .outerpro .pro28 .proi36
    {
    float: left;
    margin: 25px 0px 0px 23px;
    }
    .outerpro .pro28 .proi36 img
    {
    width: 50px;
    height: 50px;
    }
    .outerpro .pro28 .proi36 a
    {
    text-decoration: none;
    color: black;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 4px;
    transition: font-size 0.3s;
    }
    .outerpro .pro28 .proi36 a:hover
    {
    border-bottom: 2px solid black;
    font-size: 11px;
    }
    .outerpro .pro28 .proi37
    {
    display: inline-block;
    background-color: blue;
    height: 100%;
    width: 30px;
    position: relative;
    left: 24px;    
    cursor: pointer;
    }
    .outerpro .pro28 .proi37 i
    {
    margin: 40px 0px 0px 2px;    
    }
    .outerpro .pro29
    {
                display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }   

    .outerpro .pro30
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .outerpro .pro31
    {
         display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }    
    .outerpro .pro32
    {
         display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }    

    .foot .foot1
    {
        background-color: black;
        height: 30px;
        margin: 10px 0px 0px 10px;
        width: 76%;
        padding: 25px 0px 0px 100px; 
    }
    .foot .foot1 a
    {
        color: white;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        top: -7px;
        left: 80px;
    }
    .foot .foot1 a:hover
    {
        border: 2px solid rgb(255, 255, 255); 
        border-bottom: 3px solid white;
    }
    .foot .foot2
    {
        background-color: black;
        color: white;
        width: 98%;
        margin: -10px 0px 0px 10px;
        height: 230px;

    }
    .foot .foot2 .foot21
    {
        float: left;
        margin: 20px 0px 0px 10px;
    }
    .foot .foot2 .foot21 .foot212
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 35px;
    }
    .foot .foot2 .foot22
    {
        float: left;
        margin: 20px 0px 0px 45px;
    }
    .foot .foot2 .foot22 .foot222
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 30px;
    }
    .foot .foot2 .foot23
    {
        padding: 18px 0px 0px 100px;
        width: 200px;
        height: 100px;
    }
    .foot .foot2 .foot24 .foot242
    {
        margin: 10px 0px 0px 150px;
    }
    .foot .foot2 .foot22 .foot232
    {
        font-size: 13px;
        position: relative;
        top: -33px;
        left: 38px;
    }
    .foot .foot2 .foot24
    {
        width: 200px;
        height: 200px;   
    }
    .foot .foot2 .foot24 .foot242
    {
        width: 200px;
    }
    .foot .foot2 .foot24 .foot241
    {
        width: 100px;
        position: relative;
        left: 200px;
        top: 10px;
    }
    .foot .foot3
    {
        background-color: black;
        color: white;
        margin: 10px 0px 0px 0px;
        width: 99%;
        height: 130px;

    }
    .foot .foot3 .foot31
    {
        float: left;
        margin: 10px 0px 0px 15px;
    }    
    .foot .foot3 .foot32
    {
        float: left;
        margin: 10px 0px 0px 60px;
    }
    .foot .foot3 .foot33
    {
        float: left;
        margin: 10px 0px 0px 80px;
    }
    .foot .foot3 .foot34
    {
        font-size: 13px;
        /* float: left; */
        /* margin: -2px 0px 0px 100px; */
        position: relative;
        top: 40px;
        left: -180px;
    }
    .foot .foot3 .foot35
    {
        width: 98%;
        margin: 2px 0px 0px 0px;
        position: relative;
        top: 5px;
        left: 5px;
    }
    .foot .foot3 .foot31 .foot312
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    }
    .foot .foot3 .foot32 .foot322
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    }
    .foot .foot3 .foot33 .foot332
    {
        font-size: 13px;
        position: relative;
        top: -32px;
        left: 30px;
    } 
    #bcd1112
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 200px;
        height: 380px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 20px;
    }
    #bcd1112 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1112 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #bcd1112 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1112 ul li
    {
        margin: 10px 0px 0px 5px;
        list-style-type: none;
    }
    #bcd1113
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        /* height: 490px; */
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 90px;
    }
    #bcd1113 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1113 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #bcd1113 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1113 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    #bcd1114
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 320px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 200px;
    }
    #bcd1114 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1114 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #bcd1114 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1114 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }
    #bcd1115
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 340px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 230px;
    }
    #bcd1115 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1115 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #bcd1115 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1115 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }

    #bcd1116
    {
        color:rgb(0, 0, 0);
        background-color: rgb(253, 253, 253);
        width: 220px;
        height: 370px;
        opacity: 0.7;
        border-radius: 10px 10px 10px 10px;
        position: absolute;
        top: 150px;
        left: 250px;
    }
    #bcd1116 p
    {
        font-size: 25px;
        margin: 20px 0px 0px 50px;
    }
    #bcd1116 ul li a
    {
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #bcd1116 ul li a:hover
    {
        border-bottom: 3px solid black;
    }
    #bcd1116 ul li
    {
        margin: 10px 0px 0px 2px;
        list-style-type: none;
    }

    }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Pattaya&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body id="bodyid" style="background-color: white; ">
    <div id="loa">
        <img src="loading.gif">
    </div>
    <div id="loa1">   
        <div class="abc" id="top">
            <div class="abc1">
                <div class="abc11">
                    <a href="/">Home</a>
                </div>
                <div class="abc11">
                    <a href="">Offer's</a>
                </div>
                <div class="abc11">
                    <a href="cart">Cart</a>
                </div>
            </div>
            <img src="https://drive.google.com/uc?id=1YUMJE2xaJz0FExJBmYfpDAfvVkTF4HhT" class="abc2" id="a1">
            <%if(user=="null"){ %>
                <a href="/login" class="abc3" >Login</a>                 
            <%}else{%>
                <a class="abc3" ><%=user%></a>
            <%}%>
        </div>
        <div class="bcd">
            <div class="bcd1">
                <div class="bcd11" >
                    <a id="bcd111">Mobiles</a>
                </div>
                <div class="bcd11">
                    <a id="bcd112">Fashion</a>
                </div>
                <div class="bcd11">
                    <a id="bcd113">Appliances</a>
                </div>
                <div class="bcd11">
                    <a id="bcd114">Sports
                    </a>
                </div>
                <div class="bcd11">
                    <a id="bcd115">Computers</a>
                </div>
            </div>
            <div class="bcd2" id="bcd2id">
                <form action="/search" method="POST">
                    <input type="search" id="search1" placeholder="Search" name="search">
                    <input type="submit" style="display: none;">
                </form>
                <div class="se1">
                    <i class="material-icons" id="se11">search</i>
                </div>
            </div>
        </div>
        <div class="outerpro " id="outerproid">
            <div class="pro1 p1">
                <img src="<%=product[0].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[0].psn%></p>
                <p class="proi13">Price:<%=product[0].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[0].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro2 p1">
                <img src="<%=product[1].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[1].psn%></p>
                <p class="proi13">Price:<%=product[1].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[1].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro3 p2 p1">
                <p>Vivo Latest Products</p>
                <div class="proi31">
                    <img src="<%=productad[0].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[0].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi32">
                    <img src="<%=productad[1].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[1].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi33">
                    <img src="<%=productad[2].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[2].pbn%>" id="datad12">View all-></a>
                </div>
            </div>
            <div class="pro4 p1">
                <img src="<%=product[2].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[2].psn%></p>
                <p class="proi13">Price:<%=product[2].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[2].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro5 p2 p1">
                <p>Samsung Latest Products</p>
                <div class="proi31">
                    <img src="<%=productad[3].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[3].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi32">
                    <img src="<%=productad[4].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[4].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi33">
                    <img src="<%=productad[5].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[5].pbn%>" id="datad12">View all-></a>
                </div>
            </div>
            <div class="pro6 p1">
                <img src="<%=product[3].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[3].psn%></p>
                <p class="proi13">Price:<%=product[3].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[3].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro7 p1">
                <img src="<%=product[4].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[4].psn%></p>
                <p class="proi13">Price:<%=product[4].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[4].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro8 p1">
                <img src="<%=product[5].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[5].psn%></p>
                <p class="proi13">Price:<%=product[5].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[5].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro9 p1">
                <img src="<%=product[6].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[6].psn%></p>
                <p class="proi13">Price:<%=product[6].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[6].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro10 p1">
                <img src="<%=product[7].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[7].psn%></p>
                <p class="proi13">Price:<%=product[7].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[7].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro11 p2 p1">
                <p>Lenavo Latest Products</p>
                <div class="proi31">
                    <img src="<%=productad[6].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[6].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi32">
                    <img src="<%=productad[7].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[7].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi33">
                    <img src="<%=productad[8].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[8].pbn%>" id="datad12">View all-></a>
                </div>
            </div>
            <div class="pro12 p1">
                <img src="<%=product[8].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[8].psn%></p>
                <p class="proi13">Price:<%=product[8].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[8].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro13 p1">
                <img src="<%=product[9].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[9].psn%></p>
                <p class="proi13">Price:<%=product[9].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[9].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro14 p1">
                <img src="<%=product[10].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[10].psn%></p>
                <p class="proi13">Price:<%=product[10].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[10].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro15 p1">
                <img src="<%=product[11].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[11].psn%></p>
                <p class="proi13">Price:<%=product[11].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[11].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro16 p1">
                <img src="<%=product[12].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[12].psn%></p>
                <p class="proi13">Price:<%=product[12].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[12].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro17 p1">
                <img src="<%=product[13].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[13].psn%></p>
                <p class="proi13">Price:<%=product[13].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[13].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro18 p1">
                <img src="<%=product[14].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[14].psn%></p>
                <p class="proi13">Price:<%=product[14].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[14].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro19 p1">
                <img src="<%=product[15].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[15].psn%></p>
                <p class="proi13">Price:<%=product[15].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[15].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro20 p2 p1">
                <p>Redmi Latest Products</p>
                <div class="proi31">
                    <img src="<%=productad[9].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[9].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi32">
                    <img src="<%=productad[10].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[10].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi33">
                    <img src="<%=productad[11].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[11].pbn%>" id="datad12">View all-></a>
                </div>
            </div>
            <div class="pro21 p2 p1">
                <p>Realme Latest Products</p>
                <div class="proi31">
                    <img src="<%=productad[12].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[12].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi32">
                    <img src="<%=productad[13].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[13].pbn%>" id="datad12">View all-></a>
                </div>
                <div class="proi33">
                    <img src="<%=productad[14].link%>" id="datad11" alt="mobile"  >
                    <br>
                    <a href="<%=productad[14].pbn%>" id="datad12">View all-></a>
                </div>
            </div>
            <div class="pro22 p1">
                <img src="<%=product[16].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[16].psn%></p>
                <p class="proi13">Price:<%=product[16].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[16].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro23 p1">
                <img src="<%=product[17].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[17].psn%></p>
                <p class="proi13">Price:<%=product[17].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[17].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro24 p1">
                <img src="<%=product[18].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[18].psn%></p>
                <p class="proi13">Price:<%=product[18].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[18].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro25 p1">
                <img src="<%=product[19].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[19].psn%></p>
                <p class="proi13">Price:<%=product[19].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[19].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div> 
            <div class="pro26 p1">
                <img src="<%=product[20].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[20].psn%></p>
                <p class="proi13">Price:<%=product[20].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[20].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro27 p1">
                <img src="<%=product[21].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[21].psn%></p>
                <p class="proi13">Price:<%=product[21].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[21].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro28 p1">
                <div class="proi31" id="proid31">
                    <i class="material-icons">arrow_back_ios</i>
                </div>
                <div class="proi32">
                    <img src="" alt="mobile"  id="proid32" >
                    <br>
                    <a href="" id="datasad1">View all-></a>
                </div>
                <div class="proi33">
                    <img src="" alt="mobile"  id="proid33">
                    <br>
                    <a href="" id="datasad2">View all-></a>
                </div>
                <div class="proi34">
                    <img src="" alt="mobile"  id="proid34">
                    <br>
                    <a href="" id="datasad3">View all-></a>
                </div>
                <div class="proi35">
                    <img src="" alt="mobile"  id="proid35">
                    <br>
                    <a href=""id="datasad4">View all-></a>
                </div>
                <div class="proi36">
                    <img src="images/m44o.jpg" alt="mobile"  id="proid36">
                    <br>
                    <a href=""id="datasad5">View all-></a>
                </div>
                <div class="proi37" id="proid37">
                    <i class="material-icons">arrow_forward_ios</i>
                </div>
            </div>
            <div class="pro29 p1">
                <img src="<%=product[22].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[22].psn%></p>
                <p class="proi13">Price:<%=product[22].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[22].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro30 p1">
                <img src="<%=product[23].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[23].psn%></p>
                <p class="proi13">Price:<%=product[23].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[23].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro31 p1">
                <img src="<%=product[24].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[24].psn%></p>
                <p class="proi13">Price:<%=product[24].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[24].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
            <div class="pro32 p1">
                <img src="<%=product[25].link%> " alt="mobile"  class="proi11">
                <p class="proi12"><%=product[25].psn%></p>
                <p class="proi13">Price:<%=product[25].pp%></p>
                <form action="/tocart" method="GET">
                    <input type="number" value="<%=product[25].pid%>" name="proid" style="display: none;">
                        <button type="submit" class="proi14">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="foot">
            <div class="foot1">
                <a href="#top">Back to top</a>
            </div>
            <div class="foot2">
                <div class="foot21">
                    <i class="material-icons" class="foot211">local_shipping</i>
                    <p class="foot212">Free Delivery</p>
                </div>
                <div class="foot22">
                    <i class="material-icons" class="foot221">payment</i>
                    <p class="foot222">100% secure payments</p>
                </div>
                <div class="foot22">
                    <i class="material-icons" class="foot231">report_problem</i>
                    <p class="foot232">Report problem</p>
                </div>
                <div class="foot24">
                    <h4 class="foot241">About</h4>
                    <ul class="foot242">
                        <li>About us</li>
                        <li>New Showroom</li>
                        <li>Retail Store</li>
                        <li>Bulk Order</li>
                    </ul>
                </div>
            </div>
            <div class="foot3">
                <div class="foot31">
                    <i class="material-icons" class="foot311">storefront</i>
                    <p class="foot312">Sell on our Platform</p>
                </div>
                <div class="foot32">
                    <i class="material-icons" class="foot321">local_offer</i>
                    <p class="foot322">Gift cards</p>
                </div>
                <div class="foot33">
                    <i class="material-icons" class="foot331">help_outline</i>
                    <p class="foot332">Help Center</p>
                </div>
                <div class="foot34" >
                    <p>&copy;All rights reserved 2021</p>
                </div>
                <img class="foot35" src="https://drive.google.com/uc?id=13LBU9QcZuRDcPudZhEOwnQXO0RrPt-6Y">
            </div>
        </div> 
        <div id="mob">
            <div id="mobid">

            </div>
        </div>
    </div>    
    <script>
        console.log(document.getElementsByTagName("div"));
        console.log("rejrerufnekvjnekjvn416534mv");
        var ab=document.getElementsByTagName("div");
        document.getElementById("loa1").style.display="none";
        var q=0,q1=0,q2=0,q3=0,q4=0;
        window.addEventListener("load",function()
        {
            document.getElementById("loa1").style.display="";
            document.getElementById("loa").style.display="none";
        });
        document.getElementById("bcd111").addEventListener("click",function()
        {
            if(q==0)
            {
                q++;
                ab[84].setAttribute("id","mobid");
                document.getElementById("mobid").setAttribute("id","bcd1112");
                document.getElementById("bcd1112").innerHTML="<p>Brands<p><ul><li><a href=\"samsung\">Samsung</a></li><li><a href=\"apple\">Apple</a></li><li><a href=\"huawei\">Huawei</a></li><li><a href=\"xiaomi\">Xiaomi</a></li><li><a href=\"oppo\">Oppo</a></li><li><a href=\"lg\">LG</a></li><li><a href=\"realme\">Realme</a></li><li><a href=\"one plus\">One Plus</a></li><li><a href=\"vivo\">Vivo</a></li></ul>";
            }
            else{
                ab[84].setAttribute("id","mobid");
            ab[84].innerHTML="";
            q=0;
            }
        });
        document.getElementById("bcd112").addEventListener("click",function()
        {
            if(q1==0)
            {
                q1++;     
                ab[84].setAttribute("id","mobid");
                document.getElementById("mobid").setAttribute("id","bcd1113");
                document.getElementById("bcd1113").innerHTML="<p>Brands<p><ul><li><a href=\"puma\">Puma</a></li><li><a href=\"lee\">LEE</a></li><li><a href=\"allen\">Allen Solly</a></li><li><a href=\"peter\">Peter England</a></li><li><a href=\"van\">Van Heusen</a></li><li><a href=\"raymond\">Raymond</a></li><li><a href=\"park\">Park Avenue</a><ul>";
            }
            else{
                ab[84].setAttribute("id","mobid");
            ab[84].innerHTML="";
            q1=0;
            }  
        });
       document.getElementById("bcd113").addEventListener("click",function()
        {
            if(q2==0)
            {
                q2++;
                ab[84].setAttribute("id","mobid");
                document.getElementById("mobid").setAttribute("id","bcd1114");
                document.getElementById("bcd1114").innerHTML="<p>Products<p><ul><li><a href=\"stabil\">Stabilizers</a></li><li><a href=\"air\">Air Coolers</a></li><li><a href=\"heat\">Heaters</a></li><li><a href=\"wash\">Washing Machine</a></li><li><a href=\"refrig\">Refrigerators</a></li><li><a href=\"tv\">TV</a></li><li><a href=\"airc\">Air Conditioners</a></li></ul>";
                }
            else
            {
                ab[84].setAttribute("id","mobid");
                ab[84].innerHTML="";
                q2=0;
            }
       
            });
       document.getElementById("bcd114").addEventListener("click",function()
        {
            if(q3==0)
            {
                q3++;
                ab[84].setAttribute("id","mobid");
                document.getElementById("mobid").setAttribute("id","bcd1115");
                document.getElementById("bcd1115").innerHTML="<p>Products<p><ul><li><a href=\"cricket\">Cricket</a></li><li><a href=\"foot\">Foot Ball</a></li><li><a href=\"batminton\">Batminton</a></li><li><a href=\"table\">Table Tennis</a></li><li><a href=\"tennis\">Tennis</a></li><li><a href=\"basket\">Basket Ball</a></li><li><a href=\"swimming\">Swimming</a></li><li><a href=\"volley\">Volley Ball</a></ul>";
            }
            else
            {
                ab[84].setAttribute("id","mobid");
                ab[84].innerHTML="";
                q3=0;
            }
      
            });
       document.getElementById("bcd115").addEventListener("click",function()
        {
            if(q4==0)
            {
                q4++;
                ab[84].setAttribute("id","mobid");
                document.getElementById("mobid").setAttribute("id","bcd1116");
                document.getElementById("bcd1116").innerHTML="<p>Products<p><ul><li><a href=\"mac\">Mac Book</a></li><li><a href=\"hp\">HP</a></li><li><a href=\"dell\">Dell</a></li><li><a href=\"lenovo\">Lenovo</a></li><li><a href=\"acer\">Acer</a></li><li><a href=\"samsungl\">Samsung</a></li><li><a href=\"asus\">Asus</a></li><li><a href=\"hcl\">HCL</a><li><a href=\"sony\">Sony</a></li></ul>";
            }
            else
            {
                ab[84].setAttribute("id","mobid");
                ab[84].innerHTML="";
                q4=0;
            }
      
            });
       document.getElementById("outerproid").addEventListener("click",function()
        {
            ab[84].setAttribute("id","mobid");
            ab[84].innerHTML="";
        });
        document.getElementById("top").addEventListener("click",function()
        {
            ab[84].setAttribute("id","mobid");
            ab[84].innerHTML="";
        });
        document.getElementById("bcd2id").addEventListener("click",function()
        {
            ab[84].setAttribute("id","mobid");
            ab[84].innerHTML="";
        });
    var g=1;
    var img=["","","","","","","",""];
    var imgli=["","","","","","","",""];
    if(g==1)
    {
        img[0]='<%-productsad[0].link%>'
        img[1]='<%-productsad[1].link%>'
        img[2]='<%-productsad[2].link%>'
        img[3]='<%-productsad[3].link%>'
        img[4]='<%-productsad[4].link%>'
        img[5]='<%-productsad[5].link%>'
        img[6]='<%-productsad[6].link%>'
        img[7]='<%-productsad[7].link%>'
        imgli[0]='<%-productsad[0].pbn%>'
        imgli[1]='<%-productsad[1].pbn%>'
        imgli[2]='<%-productsad[2].pbn%>'
        imgli[3]='<%-productsad[3].pbn%>'
        imgli[4]='<%-productsad[4].pbn%>'
        imgli[5]='<%-productsad[5].pbn%>'
        imgli[6]='<%-productsad[6].pbn%>'
        imgli[7]='<%-productsad[7].pbn%>'
    }
    var cl=0;
    var cr=4;
    console.log("start");
    document.getElementById("proid31").addEventListener("click",function()
    {
        if(cr<7&&cl<3)
        {
        cr++;
        cl++;
        var img1=["","","","",""];
        var imgli1=["","","",""]
        var j=0;
        for(i=cl;i<=cr;i++)
        {
            img1[j]=img[i];
            imgli1[j]=imgli[i];
            j++;
        }
        document.getElementById("proid32").setAttribute("src",img1[0]);
        document.getElementById("proid33").setAttribute("src",img1[1]);
        document.getElementById("proid34").setAttribute("src",img1[2]);
        document.getElementById("proid35").setAttribute("src",img1[3]);
        document.getElementById("proid36").setAttribute("src",img1[4]);
        document.getElementById("datasad1").setAttribute("href",imgli1[0]);
        document.getElementById("datasad2").setAttribute("href",imgli1[1]);
        document.getElementById("datasad3").setAttribute("href",imgli1[2]);
        document.getElementById("datasad4").setAttribute("href",imgli1[3]);
        document.getElementById("datasad5").setAttribute("href",imgli1[4]);
        }
        else{
            console.log("sorry1");
        }
    });
    document.getElementById("proid37").addEventListener("click",function()
    {
        if(cl>0&&cr>4)
        {
        cr--;
        cl--;
        var img1=["","","","",""];
        var j=0;
        for(i=cl;i<=cr;i++)
        {
            img1[j]=img[i];
            j++;
        }
        document.getElementById("proid32").setAttribute("src",img1[0]);
        document.getElementById("proid33").setAttribute("src",img1[1]);
        document.getElementById("proid34").setAttribute("src",img1[2]);
        document.getElementById("proid35").setAttribute("src",img1[3]);
        document.getElementById("proid36").setAttribute("src",img1[4]);
        }
        else{
            console.log("sorry2");
        }
    });
    // var a=["","yellow","green"];
    // a[3]="dafsaf";
    // console.log(a[0]);
    // // console.log(a[3]);

    </script>
</body>
</html>